<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>HTI</title>

		<!-- Bootstrap -->
		<link href="static/bootstrap-{{config.bootstrap_version}}-dist/css/bootstrap.min.css" rel="stylesheet">

	</head>
	<body>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="static/jquery-{{config.jquery_version}}.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="static/bootstrap-{{config.bootstrap_version}}-dist/js/bootstrap.min.js"></script>

		<div class="container-fluid">
		    <form class="form-inline"> 
		        <div class="form-group">
		            <label for="exposure" class="control-label">Exposure, Gain</label>
		            <div class="input-group">
		                <input type="number" class="form-control" id="exposure" placeholder="0.2" value="0.2">
		                <input type="number" class="form-control" id="gain" placeholder="100" value="100">
		                <div class="input-group-btn">
		                    <button type="button" id="capture" class="btn btn-default">Capture</button>
		                    <button type="button" id="start-sequence" class="btn btn-default">Sequence</button>
		                    <button type="button" id="stop-sequence" class="btn btn-default">Stop</button>
		                </div>
	                    <button type="button" id="calibrate" class="btn btn-default">Run Calibration</button>
		            </div>
		        </div>
		    </form>
		    <div id="calibration-area" style="display: inline-block; margin: 10px; width: 300px; height: 300px; background-color: #ff0000; border: 1px; border-style: solid;"></div>
		    <div id="calibration-area-g" style="display: inline-block; margin: 10px; width: 300px; height: 300px; background-color: #00ff00; border: 1px; border-style: solid;"></div>
		    <div id="calibration-area-b" style="display: inline-block; margin: 10px; width: 300px; height: 300px; background-color: #0000ff; border: 1px; border-style: solid;"></div>
		    <div id="ccd-preview-container" style="margin: 10px; width: 640px; height: 360px; border: 1px; border-style: solid;">
		        <img id="ccd-preview-image" style="width: 100%; height: 100%;"> 
		    </div>
		</div>

		<script src="static/indi.js"></script>
		<script src="static/preview_page.js"></script>
		<script src="static/index.js"></script>
	</body>
</html>

