<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>HTI</title>

		<!-- Bootstrap -->
		<link href="static/bootstrap-{{config.bootstrap_version}}-dist/css/bootstrap.min.css" rel="stylesheet">

	</head>
	<body>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="static/jquery-{{config.jquery_version}}.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="static/bootstrap-{{config.bootstrap_version}}-dist/js/bootstrap.min.js"></script>

		<div class="container-fluid">
		    <form class="form-inline"> 
		        <div class="form-group" style="margin: 10px;">
		            <label for="exposure" class="control-label">Exposure</label>
	                <input type="number" class="form-control" id="exposure" placeholder="0.2" value="0.2">
		            
		            <label for="gain" class="control-label">Gain</label>
	                <input type="number" class="form-control" id="gain" placeholder="100" value="100">
                    
                    <button type="button" id="capture" class="btn btn-default">Capture Single</button>	

		            <label for="pathprefix" class="control-label">Path Prefix</label>
	                <input type="string" class="form-control" id="pathprefix" placeholder="Images" value="Ímages">
                    <button type="button" id="start-sequence" class="btn btn-default">Sequence</button>
                    <button type="button" id="stop-sequence" class="btn btn-default">Stop</button>
                    <!-- <button type="button" id="calibrate" class="btn btn-default">Run Calibration</button> -->
		        </div>
		    </form>
		    <!--<div id="calibration-area" style="display: inline-block; margin: 10px; width: 300px; height: 300px; background-color: #888888; border: 1px; border-style: solid;"></div>-->
	        <img id="ccd-preview-image" style="width: 960px; height: 540px; margin: 5px; border: 1px; border-style: solid;"> 
		</div>

		<script src="static/indi.js"></script>
		<script src="static/preview_page.js"></script>
		<script src="static/index.js"></script>
	</body>
</html>

