.panel
    background: $panelBackgroundColor
    margin-top: $panelMargin
    margin-left: $panelMargin
    padding: 16px

    Label
        display: inline-block
    Input
        display: inline-block

.panel-red
    border: 1px solid red

.panel-yellow
    border: 1px solid yellow

.panel-green
    border: 1px solid green

.panel-title
    margin-bottom: 10px

.camera-view-panel
    background-color: $panelBackgroundColor
    padding: 0

    position: relative
    display: inline-block

    img
        display: block
        width: 100%
        height: auto
        transform: scaleY(-1)

    svg
        position: absolute
        top: 0
        left: 0

    .image-view-options
        display: flex
        flex-direction: row
        align-items: center

        span
            margin: 5px

        Input
            width: 150px
            margin: 5px
            margin-right: 30px

        button
            width: 150px
            height: 40px
            margin: 5px

.log-panel
    background-color: $panelBackgroundColor

    .entries-list
        padding: 5px;
        background-color: black;
        display: flex
        flex-direction: column

.image-control-panel
    padding: 10px
    margin-right: auto
    display: flex
    flex-direction: row
    align-items: center

    .path-dropdown
        margin-right: 10px

    .image-filename
        margin-left: 10px
        margin-right: auto

    .image-btn
        width: $steeringBtnSize
        height: $steeringBtnSize
        font-size: 24px

.tracking-control-panel
    width: 700px

    .row
        margin-top: 10px
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        align-items: center

    .target-selection-row
        Input
            width: 300px
            margin: 5px
        span
            margin: 5px
        button
            width: 150px
            margin: 5px
            margin-left: auto

    .current-target-row
        display: flex
        flex-direction: row
        span
            margin: 5px
        button
            width: 150px
            margin: 5px
            margin-left: auto

    .current-position-row
        display: flex
        flex-direction: row
        span
            margin: 5px
        button
            width: 150px
            margin: 5px
            margin-left: auto

    .button-row
        button
            margin: 5px
            width: 300px


.capture-control-panel
    width: $controlsWidth
    display: flex
    flex-direction: column

    .settings-row
      height: 56px
      display: flex
      flex-direction: row
      align-items: center

      Label
        width: 200px
      Input
        width: 200px
      button
        width: 200px
      span
        margin-left: 20px


.guiding-control-panel

    width: $controlsWidth
    display: flex
    flex-direction: column

    .settings-row
      height: 56px
      display: flex
      flex-direction: row
      align-items: center

      Label
        width: 200px
      Input
        width: 200px
      span
        width: 200px


.axis-control-panel
    width: 700px
    display: flex
    flex-direction: row

    .button-column
      width: 200px
      display: flex
      flex-direction: column

    .steering-control
      width: 2*$steeringCtrlLabelWidth + 3*$steeringBtnSize + 2*$steeringBtnMargin
      height: 3*$steeringBtnSize + 2*$steeringBtnMargin
      margin-left: 5px
      margin-right: 5px
      position: relative

      button
        position: absolute
        width: $steeringBtnSize
        height: $steeringBtnSize
        text-align: center
        line-height: $steeringBtnSize
        padding: 0
        margin: 0

      .steer-left
        top: $steeringBtnSize + $steeringBtnMargin
        left: $steeringCtrlLabelWidth + $steeringBtnMargin

      .steer-up
        top: 0
        left: $steeringCtrlLabelWidth + $steeringBtnSize + 2*$steeringBtnMargin

      .steer-right
        top: $steeringBtnSize + $steeringBtnMargin
        left: $steeringCtrlLabelWidth + 2*$steeringBtnSize + 3*$steeringBtnMargin

      .steer-down
        top: 2*$steeringBtnSize + 2*$steeringBtnMargin
        left: $steeringCtrlLabelWidth + $steeringBtnSize + 2*$steeringBtnMargin

      .spaced-text
        width: 80px
        position: absolute
        width: $steeringCtrlLabelWidth
        height: $steeringBtnSize
        line-height: $steeringBtnSize

      .steer-left-label
        top: $steeringBtnSize + $steeringBtnMargin
        left: 0
        text-align: right

      .steer-right-label
        top: $steeringBtnSize + $steeringBtnMargin
        left: $steeringCtrlLabelWidth + 3*$steeringBtnSize + 4*$steeringBtnMargin
        text-align: left

      .steer-up-label
        top: 0
        left: $steeringCtrlLabelWidth + 2*$steeringBtnSize + 3*$steeringBtnMargin
        text-align: left

      .steer-down-label
        top: 2*$steeringBtnSize + 2*$steeringBtnMargin
        left: $steeringCtrlLabelWidth + 2*$steeringBtnSize + 3*$steeringBtnMargin
        text-align: left

.pec-control-panel
    span
        width: 200px

    .button-row
        display: flex
        flex-direction: row
        align-items: center

        button
            width: 180px
        Input
            margin-left: 10px
            margin-right: 10px
            width: 180px
        span
            width: 30px

.focus-control-panel
    width: $controlsWidth

    .button-column
      display: flex
      flex-direction: column

    .button-row
      display: flex
      flex-direction: row
