$fontSizeSmall: 14px
$fontSize: 16px
$fontSizeLarge: 24px
$fontSizeXLarge: 34px
$fontSizeExtraLarge: 48px
$buttonFontSize: 16.8px

$panelBackgroundColor: #1a282c

$buttonBorderColor: #00cdff
$buttonActiveColor: #67a1af
$sceneSelectedColor: #055266

$ctrl-button-width: 55px
$ctrl-button-height: 55px
$ctrl-button-spacing: 10px
