$fontSize: 16px
$buttonFontSize: 16.8px
$panelBackgroundColor: #212121
$buttonBorderColor: #F7D9B5

$panelMargin: 5px
$controlsWidth: 570px

$steeringCtrlLabelWidth: 80px
$steeringBtnSize: 50px
$steeringBtnMargin: 8px
