flask==1.1.2
Flask-Cors==3.0.8
flask-swagger-ui==3.25.0
flask-restplus==0.13.0
werkzeug==0.16.1

pyserial==3.4
numpy==1.16.3
astropy==4.0.1.post1
Pillow==8.2.0
pyindi-client==0.2.5  # also requires libindi-dev (apt)
influxdb==5.2.3
simple-pid==0.2.3
scikit-image==0.15.0
